doctype html
html(lang='ru')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title
			block Письмо доставки
	body(style="margin:0;padding:0;min-width:100%;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;color: #132539;")
		div(style="width:100%;max-width:900px;background-color:white;margin:0 auto; box-sizing: border-box; text-align:center;padding: 60px 47px;")
			div(style="text-align:center;padding-bottom:38px;")
				a(href="http://www.igromagaz.ru/?utm_source=mail&utm_medium=send&utm_content=smm&utm_campaign=23_06" style="display: inline-block;text-align:center;100%;max-width: 347px;" target="_blank")
					img(src="img/logo.svg" alt="logo" )

			h1(style="text-align: center;font-size: 32px;font-style: normal;font-weight: 700;line-height: normal;padding-bottom: 15px;") Здравствуйте!

			p(style="padding-bottom: 24px;margin: 0;color: #132539;font-size: 18px;font-weight: 400;line-height: normal;") Благодарим Вас за использование сервиса "Интернет-магазин для геймеров "ИгроMagaz"

			div(style="padding:23px;border-radius: 20px;background: #F2F6F9;")
				p(style="margin: 0; padding-bottom: 13px;font-size: 18px;line-height: normal;") #[b Ваш заказ №850276] от 10.11.2022 17:38:58 доступны следующие ключи:
				p(style="margin:0;") Подписка Xbox Game Pass Ultimate на 14 дней (ключ для Xbox и ПК)
				p(style="margin:0;") Activation
				p(style="margin:0;") 1. 36DCCCPMMCXHYFDX9RD39WPKZ

			div(style="padding-top:38px;text-align: left;")
				p(style="padding-bottom:15px;") Кроме того, в любой момент данный цифровой товар Вы найдете по адресу:
					br
					a(href="http://www.igromagaz.ru/personal/order/keys/" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/personal/order/keys/]
				p(style="padding-bottom:15px;") Кроме того, в любой момент данный цифровой товар Вы найдете по адресу: 
					a(href="http://www.igromagaz.ru/personal/order/keys/" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/personal/order/keys/]

				p(style="padding-bottom:15px;") Также Вы можете просмотреть историю своих заказов здесь:
					a(href="http://www.igromagaz.ru/personal/order/" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/personal/order/]

				p(style="padding-bottom:15px;") Если игра требует предварительной установки, то ссылку на скачивание дистрибутива вы можете найти по адресу:
					a(href="http://www.igromagaz.ru/personal/order/keys" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/personal/order/keys]
					|  в подробностях заказа.

				p(style="padding-bottom:15px;") Если Вы довольны Вашей покупкой - просим Вас оставить отзыв о магазине, это очень важно для нас:
					a(href="https://g.page/r/CWva17lhiabhEB0/review" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b https://g.page/r/CWva17lhiabhEB0/review]

				p(style="padding-bottom:15px;") Если Вы довольны Вашей покупкой - просим Вас оставить отзыв о магазине, это очень важно для нас:
					a(href="https://g.page/r/CWva17lhiabhEB0/review" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b https://g.page/r/CWva17lhiabhEB0/review]

				p(style="padding-bottom:15px;") Внимание! Это письмо отправлено роботом, поэтому не отвечайте на него - наш робот умеет только отправлять письма, но не читать их.

				p(style="padding-bottom:15px;") Если у вас возникли вопросы, то обращайтесь в нашу техподдержку на сайте:
					a(href="http://www.igromagaz.ru/communication/support/" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/communication/support/]

				p(style="padding-bottom:15px;") Обратите внимание, ответы на многие вопросы находятся в разделе "Помощь":
					a(href="http://www.igromagaz.ru/help/" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b http://www.igromagaz.ru/help/]

				p(style="padding-bottom:15px;") #[b С уважением, служба доставки "Интернет-магазин для геймеров "ИгроMagaz"]
					br
					a(href="http://www.igromagaz.ru" style="color:#4AB8E6;padding-top: 5px;display: inline-block;" target="_blank") #[b www.igromagaz.ru]

			div(style="font-size: 0;")
				div(style="max-width: 201.3px;width: 100%;display: inline-block;")
					a(href="#" style="padding-bottom: 17px; display: inline-block;" target="_blank")
						img(src="img/mail-socials/001-facebook.svg" alt="alt")
					p(style="font-size: 15px;font-style: normal;font-weight: 400;") Мы в Facebook: 
					a(href="#" style="font-size: 15px;" target="_blank" ) #[b facebook.com/IgroMagaz]



