.pagination
	a(href="#").pagination__prev
		+icon('pagination-prev')
	ul.pagination-list
		li.pagination-list__item
			a(href="#").pagination-list__link 1
		li.pagination-list__item
			a(href="#").pagination-list__link 2
		li.pagination-list__item.active
			a(href="#").pagination-list__link 3
		li.pagination-list__item
			a(href="#").pagination-list__link 4
		li.pagination-list__item
			a(href="#").pagination-list__link ...
		li.pagination-list__item
			a(href="#").pagination-list__link 7

	a(href="#").pagination__next
		+icon('pagination-next')