/*--------------------bonus-page----------------------*/
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/inter/Inter-LightItalic.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-LightItalic.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-Regular.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-Medium.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-MediumItalic.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-MediumItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-Bold.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-Bold.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-ExtraBold.woff?v=3.12") format("woff");
}
.bonus {
	font-family: 'Inter', sans-serif;
}
.wrapper {}
.bonus__progr {
	.bonus__honey {
		@include adaptive-value('margin-bottom', 35, 10.71, 1);
	}
}
.progr-bonus {
	@include adaptive-value('padding-top', 112, 37, 1);
}
.bonus__title {
	@include adaptive-value('padding-bottom', 20, 4, 1);
	@include adaptive-value('font-size', 41.79, 17.67, 1);
	@include adaptive-value('margin-bottom', 29, 8.49, 1);
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 7px solid $accent;
	@include adaptive-value('border-width', 7, 1.81, 1);

}
.progr-bonus__slogan{
	.bonus__text {
		max-width: 756px;
	}

}
.progr-bonus__flex{
	@include flex-cols(11, 0, 2, (), '', 0);

	@include max-screen($lg){
		// margin-left: 0;
		// margin-right: 0;
	}
}
.progr-bonus__content {
	// flex: 0 0 50%;
	&._flex-col{
		@include max-screen($lg){
			width: prc(194,320);
			// width: auto;
			// margin-left: 0;
			// margin-right: 0;
		}

	}
}
.bonus__text {
	margin-top: 0;

	@include adaptive-value('margin-bottom', 33, 12.6, 1);
	@include adaptive-value('font-size', 27.63, 8.48, 1);

	span{
		font-weight: 700;
	}
}
.bonus__subtitle {
	@include adaptive-value('margin-bottom', 16, 5, 1);
	@include adaptive-value('font-size', 27.63, 8.48, 1);
	font-family: $bold;
}
.bonus__honey {
	// display: inline-block;
	@include adaptive-value('padding-left', 23, 6, 1);
	@include adaptive-value('padding-right', 23, 6, 1);
	@include adaptive-value('padding-top', 13, 4, 1);
	@include adaptive-value('padding-bottom', 16, 5, 1);

	@include adaptive-value('font-size', 36.42, 9.5, 1);
	text-align: center;
	font-weight: 500;
	background-color: #5BB7E6;
	@include adaptive-value('border-radius', 16.41, 5.04, 1);
	// border-radius: 5.04px;
	color: #fff;
}
.bonus__honey--light {
	background-color: #92D7FB;
}
.progr-bonus__img {
	@include adaptive-value('padding-right', 15, 0, 1);
	text-align: right;

	&._flex-col{
		@include max-screen($lg){
			width: prc(133,326);
			// width: auto;
			// margin-left: 0;
			// margin-right: 0;
		}

	}
	img{
		position: relative;

		z-index: -1;
		@include adaptive-value('margin-top', -49, 0, 1);
		width: 100%;
		max-width: 482px;
	}
}
.progr-bonus__more {
	@include adaptive-value('margin-top', -90, -10, 1);
	@include adaptive-value('margin-bottom', 59, 21.18, 1);
	.bonus__subtitle{
		@include adaptive-value('font-size', 33.86, 10.4, 1);
	}
}
.bonus__table {
	table-layout: fixed; /* Настройка размеров колонок */
  width: 100%; /* Использование всей доступной ширины */
  border-collapse: collapse;
  background-color: #DAE8FE;
	border-radius: 16.41px;

	@include max-screen($xs){
		border-radius: 5.04px;
	}
  
  th, td {
	  // width: calc(100% / 3); /* Равное пространство для каждой колонки */
	  
	  &:first-child{
	  		width: prc(373,1200);
	  		@include max-screen($xs){
	  			width: prc(110.63,326);
	  			
	  		}
	  }

	  &:nth-child(2){
	  	
	  		width: prc(417,1200);
	  		@include max-screen($xs){
	  			width: prc(111,326);
	  			
	  		}
	  }
	  &:nth-child(3){
	  	
	  		width: prc(410,1200);
	  		@include max-screen($xs){
	  			width: prc(104,326);
	  			
	  		}
	  }

	}
	thead{
		background-color: #DAE8FE;
	}
	thead th{
		@include adaptive-value('padding-top', 21, 6.47, 1);
		@include adaptive-value('padding-bottom', 22, 6.47, 1);
		@include adaptive-value('font-size', 36.42, 9.5, 1);
		color: #fff;
		font-weight: 600;
		vertical-align: middle;

		&:first-child{
			border-radius: 16.41px 0 0 16.41px;
			background-color: #92D7FB;

			@include max-screen($xs){
				
				border-radius: 5.04px 0 0 5.04px;
			}
		}

		&:nth-child(2){
			background-color: #5BB7E5;
		}
		&:nth-child(3){
			border-radius: 0 16.41px 16.41px 0;
			background-color: #47A4D2;

			@include max-screen($xs){
				
				border-radius: 0 5.04px 5.04px 0;
			}
		}

	}
	tbody{
		// background-color: #DAE8FE;
		border-radius: 0 0 16.41px 16.41px;
		@include adaptive-value('font-size', 27.63, 8.48, 1);

		@include max-screen($xs){
			
			border-radius: 0 0 5.04px 5.04px;
		}
		tr{
		}

		td{
			@include adaptive-value('padding-top', 19, 6, 1);
			@include adaptive-value('padding-bottom', 39, 12, 1);
			@include adaptive-value('padding-left', 34, 10.3, 1);
			// text-align: center;
			&:first-child{
				display: flex;
				align-items: center;
				@include adaptive-value('column-gap', 22, 6.75, 1);
				font-weight: 700;
				@include adaptive-value('font-size', 25.61, 7.86, 1);
			}
			&:not(:first-child){
				text-align: center;
			}

		}
	}
}
.table-bonus {}
.table-bonus__img {
	flex-shrink: 0;
	@include adaptive-value('width', 97, 29.73, 1);
	@include adaptive-value('height', 97, 29.73, 1);
	border-radius: 50%;
	overflow: hidden;

	img{
		max-width: 100%;
		max-height: 100%;
	}
}
.table-bonus__value {}
.bonus__wathshoney {
	@include adaptive-value('margin-bottom', 86, 29.54, 1);
	.bonus__title{
		@include adaptive-value('margin-bottom', 42, 14.25, 1);
	}
	.bonus__text{
		@include adaptive-value('margin-bottom', 69, 21.49, 1);

		br{
			@include max-screen($sm){
				display: none;
			}
		}
	}
}
.wathshoney-bonus {}
.wathshoney-bonus__flex{
	@include flex-cols(0, 0, 2, (), '', 0);
}
.wathshoney-bonus__left {
	&._flex-col{
		@include max-screen($min){
			width: prc(173,326);
			
		}
	}
}
.bonus__button {
	display: inline-block;
	position: relative;
	text-decoration: none;


	&:after{
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: prc(11.32, 72.89);
		@include adaptive-value('border-radius', 16.23, 4.51, 1);
		background-color: #92D7FB;
	}

}
.button-bonus {}
.button-bonus__inner {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	@include adaptive-value('height', 72.89, 20.29, 1);
	@include adaptive-value('padding-left', 25.5, 4.74, 1);
	@include adaptive-value('padding-right', 24, 6.85, 1);
	@include adaptive-value('border-radius', 16.23, 4.51, 1);
	@include adaptive-value('column-gap', 15.15, 4.22, 1);
	background-color: #5BB7E5;
	color: #fff;
	transition: background-color 0.2s;


	&:hover{
		background-color:  darken(#5BB7E5, 5%);
	}
	
	
	.icon {
		color: #fff;
		flex-shrink: 0;
	}
	.icon-honey {
		@include adaptive-value('font-size', 42.44, 12.65, 1);
	}
	.icon-cake {
		@include adaptive-value('font-size', 35.83, 12.09, 1);

	}
}
.button-bonus__val {
	@include adaptive-value('font-size', 39, 10, 1);
	line-height: calc(39/44);
	font-weight: 800;
}
.wathshoney-bonus__right {
	// padding-left: prc(102,1200);
	@include adaptive-value('padding-left', 102, 8, 1);

	&._flex-col{
		@include max-screen($min){
			width: prc(152,326);
			
		}
	}
}
.wathshoney-bonus__img {
	position: relative;
	z-index: 2;
	@include adaptive-value('padding-right', 53, 0, 1);
	text-align: right;


	img{
		// width: 100%;
		width: prc(353, 444);
		// max-width: 334px;
		@include max-screen($sm){
			
			width: prc(130, 143);
		}
	}
}
.wathshoney-bonus__honeys {
	@include adaptive-value('margin-top', -23, -8, 1);
	display: flex;
	flex-direction: column;
	@include adaptive-value('row-gap', 23, 6.31, 1);
}
.bonus__birthday {
	border-bottom: solid #4BB9E7;
	@include adaptive-value('border-width', 7, 1.81, 1);
	.bonus__title{
		@include adaptive-value('margin-bottom', 57, 14.25, 1);
	}
}
.birthday-bonus {}
.birthday-bonus__flex{
	display: flex;
}
.birthday-bonus__content {
	flex: 1 0 prc(737,1200);


	@include max-screen($xsss){
		flex-basis: prc(210,326);
	}

	.bonus__text{
		&:first-of-type{
			@include adaptive-value('margin-bottom', 68, 20.02, 1);
			
		}

		&:last-of-type{
			
			@include adaptive-value('margin-bottom', 20.02, 6.62, 1);
		}


	}
}

.bonus__footnote {
	max-width: 556px;
	@include adaptive-value('max-width', 556, 155, 1);
	@include adaptive-value('margin-bottom', 55, 13.96, 1);
	@include adaptive-value('margin-top', 65.02, 14.22, 1);
	@include adaptive-value('font-size', 21.08, 6.47, 1);
	line-height: calc(26 / 21.08);
	font-weight: 300;
	font-style: italic;
	color: #132539;
}
.birthday-bonus__img {
	align-self: end;
	position: relative;
	flex: 1 1 prc(456,1200);
	padding-left: 8px;

	@include max-screen($xsss){
		flex-basis: prc(127,326);
	}
	img{
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		max-width: 100%;

		@include max-screen($xs){
			max-width: 125%;
		}
		@include max-screen($xsss){
			max-width: 135%;
		}
	}
}
.bonus__footer{
	@include adaptive-value('margin-top', 48, 24.43, 1);
	@include adaptive-value('margin-bottom', 112, 37.77, 1);
	@include adaptive-value('font-size', 29.99, 9.21, 1);
	p{
		margin: 0;
		font-weight: 500;
		font-style: italic;
		line-height: calc(36 / 29);	
	}
}
/*--------------------END bonus-page----------------------*/ 